article {
    padding: 2vw;
    font-family: sans-serif;
    color: #009999;
}

pre {
    background-color: black;
    color: white;
    font-family: monospace;
    font-size: large;
    padding: 1vw;
}

table, th, td {
    border: 1px solid #009999;
    border-collapse: collapse;
}
