article {
    padding: 2vw;
    font-family: sans-serif;
    color: #009999;
}

h1 {
    margin-bottom: 0px;
    margin-top: 0px;
}

.command {
    background-color: black;
    color: lightgray;
    font-family: monospace;
    font-size: 1.1em;
    padding: 2px;
    user-select: all;
}

.subtitle {
    font-style: italic;
    font-weight: normal;
    margin-top: 0px;
}