body, html {
    background-color: black;
    font-family: monospace;
    color: white;
}

video {
    max-width: 50vw;
    max-height: 50vh;
}

a {
    color: gray;
}

#repo {
    position: fixed;
    bottom: 0px;
    left: 0px;
}
