body {
    background-color: #36393e;
    margin: 0;
}

header {
    color: #009999;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

#content {
    color: #009999;
    font-family: Arial, Helvetica, sans-serif;
    padding: 1vw;
    margin: 0;
}

h1, h2, h3 {
    color: #009999;
    font-family: Arial, Helvetica, sans-serif;
}

a {
    color: #009999;
}

#header {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #2f3136;
    color: #2f3136;
}

header h1 {
    margin: 0;
    padding: 16px;
    background-image: url('icon.png');
    background-repeat: no-repeat;
    background-size: contain;
    background-origin: padding-box;

}

#header a {
    display: block;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

#header b {
    color: #2f3136;
}

#header a:hover {
    background-color: gray;
}

th, td {
    padding: 5px;
    text-align: left;
}

ul {
    color: #009999;
    font-family: sans-serif;
    margin: 0;
}

.rightheader {
    float: right;
}

.leftheader {
    float: left;
}

.youtube {
    background-color: #ff0000;
}

.twitter {
    background-color: #1da1f2;
}

.github {
    background-color: #3fb950;
}

.gitlab {
    background-color: #fca326;
}